body{
    padding: 0;
    margin:0;
    font-family: 'Cabin', sans-serif;
}

main{
    margin: 0 100px 0 100px;
}

.navbar-brand{
    font-family: "Lobster";
    font-size: 37px;
}

.btn{
    font-weight: 400;
}
.receta1-desktop, h6{
    font-size:20px ;
    font-weight: 400;
}


.titulo-desktop{
    font-size: 40px;
    width: 300px;
}

.subtitulo-desktop{
    font-size: 20px;
}

.titulo-mobile{
    font-size: 25px;
    width: 200px;
}

.custom-hr{
    height: 3px; 
    background-color: black; 
    border: none;
    margin: 20px 0; 
    opacity: 100%;
}

.underline {
    text-decoration: underline;
}

/* Estilos por defecto (mobile first) */
.hero-desktop {
    display: none;
}

.hero-mobile {
    display: block;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .hero-desktop {
        display: none;
    }

    .hero-mobile {
        display: block;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .hero-desktop {
        display: block;
    }

    .hero-mobile {
        display: none;
    }
}

/* carousel */

.carousel-item .row {
    display: flex;
    justify-content: center;
}

.carousel-item .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.carousel-indicators button {
    border-radius: 100% !important;
    padding: 5px 5px !important; 
    width: 3px !important;
    height: 2px !important;
    background-color: black !important;
}

.carousel-indicators .active {
    background-color: #fff; 
}
